<% provide(:title, t('content.about')) %>
<h1><%= t('content.about')%></h1>
<p>

247clinic.ca aims to streamline health care with technology in the most efficient way possible.
Using web enabled cameras and video streaming technology, we want to bring together patients and doctors online to reduce wait 
times and unnecessary visits to doctors office. Our goal is to connect physicians and patients by providing an easily accessible online 
platform that is available through their smart devices (Android and iOS) and/or Web browser; resulting in a safe and reliable yet time saving 
approach to connect you with the help you need.
  
</p>