<% provide(:title, t('content.community')) %>
 <!--=== Breadcrumbs v3 ===-->
    <div class="breadcrumbs-v3 img-v1 margin-bottom-60">
        <div class="container text-center">
            <p>Meet Our Folks</p>
            <h1>Our Professional Team Members</h1>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v3 ===-->

   <!--=== Team v5 ===-->
    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>TEAM MEMBERS</h2>
            <p>Our team of highly determined and self-motivated individuals 
           
        </div>
    </div>