<h1>24-7 Online Clinic</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the 24-7 Online Clinic!
</p>

<p>
  The account has been created!
  <br/>
  Email: <%= @user.email %>
  <br/>
  Password: <%= @user.password %>
</p>
