<footer class="footer">
  <small>
    The 24-7 Online Clinic
  </small>
  <nav>
    <ul>
      <li><%= link_to t('content.about'),   about_path %></li>
      <li><%= link_to t('content.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>